

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevents scrollbars */
    background-color: #000; /* Solid black background */
    cursor: none; /* Hides the user's cursor */
}

#snake-canvas {
    display: block;
    width: 100%;
    height: 100%;
}
